/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #57BEFF;
  font-family: 'Roboto', sans-serif;
}

.add-task-btn {
  margin-top: 8px;
}

.button {
  border: none;
  text-align: center;
  background-color: fixed;
  background: #DEEBFF;
  color: #6B778C;
  border-radius: 2px;
}

.button:hover {
  background: #c7d3e5;
}

.button-wrapper {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.column {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  background: #EBECF0;
}


.column-title {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.columns-wrapper {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
}

.kanban-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.task-input {
  resize: vertical;
  border: none;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
}

.task-item {
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
  background: white;
}

.errors {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

